@import '../components/main/variables';
@import '../components/main/reset';


// Le contner qui englobe toute la page
.bluepointContenerMain{
    display: flex;
    width: 100vw;
    margin: 10rem 0 0 -0.5rem;
    flex-direction: column;
    justify-items: center;
    font-family: 'Anonymous Pro', monospace;
}

//Le titre principale
.bluepointTitleMain{
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    color: $color0;
    font-size: 1.5rem;
}

// le contener qui englobe les cartouches
.bluepointContenerResume{
    display: flex;
    background-color: $color1T;
    opacity: 0.9;
    flex-direction: row;
    justify-content: space-around;
    margin: 2rem 5rem 10rem 5rem;
    padding: 2rem 0 ;
    border-radius: 0.7rem;
    width: 90w;
    height: 20rem;

}

//Class generique pour chaque cartouche
.bluepointCartoucheResume{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 25rem;
    text-align: center;
    border-radius: 0.7rem;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}


// les trois cartouche generique 
.bluepointCartoucheResume:hover{
    position: relative;
    bottom: 4px;
    right: 2px;
}

// le titre des chaques cartouche
.bluepointTitleCartouche{
text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
color: $color0;
font-size: 1.3rem;
}

//class du texte du cartouche
.bluepointTextCartouche{
    color: darkslategray;
    font-size: 1.1rem;
}

// le contener de l'icone scroll
.bluepointContenerScroll{
    display: flex;
    width: 100vw;
    justify-content: center;
}

// L'animation de l'icone
@keyframes animationIconeScroll{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-1rem);
    }
    100%{
        transform: translateY(0);
    }
}

// l'icone qui indique aux utilisateurs de scroll
.bluepointIconeScroll{
    display: flex;
    animation: animationIconeScroll 1.2s infinite;
}
                         

/***************************les articles ********************************************/

//div qui encadre tous les articles
.bluepointContenerArticles{
    width: 100vw;
}

// La div qui anime les div partant de la droite
.bluepointAnimD {
    opacity: 0;
    transform: translateX(100rem); /* Animation de translation vers le haut */
    transition: opacity 0.5s ease, transform 2s ease; /* Animation de transition pour l'opacité et la transformation */
  }

  // La div qui anime les div partant de la gauche
  .bluepointAnimG {
    opacity: 0;
    transform: translateX(-100rem); /* Animation de translation vers le haut */
    transition: opacity 0.5s ease, transform 2s ease; /* Animation de transition pour l'opacité et la transformation */
  }
  
  //ON fait apparaitre les div
  .show {
    opacity: 1;
    transform: translateY(0); /* Réinitialisation de la translation pour afficher le contenu à sa position normale */
  }

//gere le style des articles
.bluepointArticleMain{
    display: flex;
    width: 100vw;
    height: 25rem;
    flex-direction: column;
    margin: 0 0 4rem 0;
    padding: 1rem;
}
/***********satisfaction */
//Gere le fond de la div satisfaction
.bluepointSatisfactionMain{
    display: flex;
    flex-direction: row;
    background: linear-gradient(to bottom, $color4, $color45);
    color: white;
}

//le contener du titre et de l'img
.bluepointSatisfactionLeft{
    width: 70rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

//le titre satisafction
.bluepointSatisfactionTitle{
    text-align: center;
}

// La class qui gere les img
.bluepointArticleImg{
    border-radius: 0.7rem;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    margin: 3rem 0 0 0 ;
}

// le contener de l'img satisfaction
.bluepointEtoileBlue{
    background-image: url(./satisfactionClient.jpg);
    width: 21rem;
    height: 12rem;
}

//Contient le texte des article (sous-titre, texte)
.bluepointContenertext{
    width: 70rem;
    display: flex;
    align-self: center;
    flex-direction: column;
}

//gere le font de la div personalisation
.bluepointPersonaMain{
    display: flex;
    flex-direction: row-reverse;
    color: $color0;
}

// gere la place des div pour la personalisation
.bluepointPersonaRight{
    width: 70rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

// le contener de l'img personalisation
.bluepointPersonaImg{
    background-image: url(./personalisation.jpg);
    width: 24rem;
    height: 12rem;
}

//Gere le fond de la div SAV
.bluepointSavMain{
    display: flex;
    flex-direction: row;
    background: linear-gradient(to bottom, $color4, $color45);
    color: white;
}

//le contener de l'img sav
.bluepointSavImg{
    background-image: url(./sav.jpg);
    width: 19rem;
    height: 12.8rem;
}

//class generique pour tout les titres d'articles
.bluepointTitreArticle{
    display: flex;
    text-align: center;
margin: 2rem auto 1rem auto;
font-size: 2rem;
text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

//Class general pour tout le texte dans les articles
.bluepointArticleText{
    font-size: 1.2rem;
    margin: 1rem 0 0 0;
}

// La toute derniere class qui gere le marging pour ne pas passer sous le footer
.bluepointSavMain{
    margin: 0 0 6rem 0;
}



//////////////////////////////////////////////////////////////
/// Le responsive
/// //////////////////////////////////////////////////////////////

@media screen and (max-width: 1450px) {

    //Class generique pour chaque cartouche
    .bluepointCartoucheResume{
    width: 20rem;
    padding: 1rem;
    }


//gere le style des articles
.bluepointArticleMain{
    display: flex;
    width: 100vw;
    height: 30rem;
    margin: 0 0 4rem 0;
    padding: 1rem;
}

//Contient le texte des article (sous-titre, texte)
.bluepointContenertext{
    font-size: 1.2rem;
}

}

@media screen and (max-width: 1150px) {

    .bluepointCartoucheResume{
        display: flex;
        flex-direction: column;
    width: 15rem;
    height: 17rem;
    padding: 1rem;
    justify-content: space-around;
    align-items: center;
    }

    // le contener qui englobe les cartouches
.bluepointContenerResume{
    margin: 2rem auto 7rem auto;
    padding: 2rem 0 ;
    border-radius: 0.7rem;
    width: 90vw;
}

//Contient le texte des article (sous-titre, texte)
.bluepointContenertext{
    font-size: 1.4rem;
}

//Class general pour tout le texte dans les articles
.bluepointArticleText{
    font-size: 1.2rem;
    margin: 2rem 0 0 0;
}
}

@media screen and (max-width: 900px) {

        // le contener qui englobe les cartouches
.bluepointContenerResume{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto 7rem auto;
    padding: 2rem 0 ;
    border-radius: 0.7rem;
    width: 60vw;
    height: 70rem;
}

    .bluepointCartoucheResume{
        display: flex;
        flex-direction: column;
    width: 15rem;
    //height: 17rem;
    padding: 1rem;
    justify-content: space-around;
    align-items: center;
    }

//gere le style des articles
.bluepointArticleMain{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    margin: 0 0 4rem 0;
    padding: 1rem;
}

// gere la place des div pour la personalisation
.bluepointPersonaRight{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;}

    //class generique pour tout les titres d'articles
.bluepointTitreArticle{
    display: flex;
    width: 80vw;
font-size: 2rem;
}

//le contener du titre et de l'img
.bluepointSatisfactionLeft{
    width: 40rem;
    margin: 0 auto ;
}

//Contient le texte des article (sous-titre, texte)
.bluepointContenertext{
    font-size: 1.4rem;
    width: 90vw;
    text-align: center;
}

}

@media screen and (max-width: 700px) {
    .bluepointSatisfactionLeft{
        width: 80vw;
    }
}

@media screen and (max-width: 480px) {
// le contener qui englobe les cartouches
.bluepointContenerResume{
    width: 90vw;
    margin: 2rem auto 5rem auto;
}

}

@media screen and (max-width: 400px) {
    .bluepointArticleImg{
        width: 15rem;
    }
}
