@import "../components/main/variables";
@import "../components/main/reset";

// Le contner qui englobe toute la page
.bluepointContenerMain {
  display: flex;
  width: 100vw;
  margin: 10rem 0 0 0rem;
  flex-direction: column;
  justify-items: center;
  font-family: "Anonymous Pro", monospace;
}

//Le titre principale
.bluepointTitleMain {
  text-align: center;
  display: none;
  text-shadow: 
    rgba(0, 0, 0, 0.22) 5px 7px 10px;
  color: $color0;
  font-size: 2rem;
  font-weight: 600;
}

// le contener background bleu
.bluepointContenerResume {
  display: flex;
  background: linear-gradient(
    135deg,
    rgb(90, 95, 153),
    rgb(51, 55, 100),
    rgba(22, 24, 46),
    rgb(16, 18, 34)
  );
  flex-direction: row;
  margin: 3rem 0 0 0;
  justify-content: space-around;
  padding: 2rem 0;
  width: 100vw;
  height: 26rem;
}

// Le titre nos valeurs dans le cartouche bleu
.bluepointTitreSmallValeur {
  color: white;
  font-size: 2.2rem;
  font-weight: 600;
}

// le contener de l'icone scroll
.bluepointContenerScroll {
  display: flex;
  width: 100vw;
  justify-content: center;
}

/***************************les articles ********************************************/

//div qui encadre tous les articles
.bluepointContenerArticles {
  width: 100vw;
  margin-top: 4rem;
  font-size: 2.2rem;
  color: $color0;
}

// Le titre nos engagements
.bluepointTitreEngagements{
display: flex;
justify-content: center;
font-weight: 600;
}

//gere le style des articles
.bluepointArticleMain {
  display: flex;
  width: 100vw;
  height: auto;
  flex-direction: column;
  margin: 0 0rem 4rem 0;
  padding: 1rem;
}
/***********satisfaction */
//Gere le fond de la div satisfaction
.bluepointSatisfactionMain {
  display: flex;
  flex-direction: row;
  color: $color0;
  margin-top: 2rem;
  height: auto;

}

//le contener du titre et de l'img
.bluepointSatisfactionLeft {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

//le titre satisafction
.bluepointSatisfactionTitle {
  text-align: center;
}

//La div qui encadre la photo
.bluepointContnerImgSatisfaction{
    margin: 3rem 0 5rem 0;
background-color: $color0;
width: 30rem;
height: auto;
border-radius: 0.5rem;
}

//L'img de satisfaction
.bluepointImgSatisfaction{
    border-radius: 0.5rem;
    position: relative;
    top: 3vw;
    left: 3vw;
    width: 25vw;
    height: auto;
}

//La div de l'img de l'autre coté
.bluepointImgPersonalisation{
    position: relative;
    top: 3vw;
    right: 3vw;
    width: 30vw;
    height: auto;
    border-radius: 0.5rem;
}

//Contient le texte des article (sous-titre, texte)
.bluepointContenertext {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

//gere le font de la div personalisation
.bluepointPersonaMain {
  display: flex;
  flex-direction: row-reverse;
  color: $color0;
  height: auto;
}

// gere la place des div pour la personalisation
.bluepointPersonaRight {
  width: 70rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

//Gere le fond de la div SAV
.bluepointSavMain {
  display: flex;
  flex-direction: row;
  align-items: center;
}


//class generique pour tout les titres d'articles
.bluepointTitreArticle {
  display: flex;
  text-align: center;
  margin: 2rem auto 1rem auto;
  font-size: 1.7rem;
  text-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
font-weight: 600;
}

//Class general pour tout le texte dans les articles
.bluepointArticleText {
    display: flex;
    width: 35vw;
  font-size: 1.2rem;
  margin: 2rem 0 0 0;
}

// La toute derniere class qui gere le marging pour ne pas passer sous le footer
.bluepointSavMain {
  margin: 0 0 6rem 0;
}

//////////////////////////////////////////////////////////////
/// Le responsive
/// //////////////////////////////////////////////////////////////

@media screen and (max-width: 1450px) {
  //gere le style des articles
  .bluepointArticleMain {
    display: flex;
    width: 100vw;
    height: 30rem;
    margin: 0 0 4rem 0;
    padding: 1rem;
  }

  //Contient le texte des article (sous-titre, texte)
  .bluepointContenertext {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1150px) {
  // le contener qui englobe les cartouches
  .bluepointContenerResume {
    margin: 2rem auto 7rem auto;
    padding: 2rem 0;
    border-radius: 0.7rem;
    width: 90vw;
  }

  //Contient le texte des article (sous-titre, texte)
  .bluepointContenertext {
    font-size: 1.4rem;
  }

  //Class general pour tout le texte dans les articles
  .bluepointArticleText {
    font-size: 1.2rem;
    margin: 2rem 0 0 0;
  }
}

@media screen and (max-width: 900px) {
  // le contener qui englobe les cartouches
  .bluepointContenerResume {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto 7rem auto;
    padding: 2rem 0;
    border-radius: 0.7rem;
    width: 60vw;
    height: 70rem;
  }

  //gere le style des articles
  .bluepointArticleMain {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    margin: 0 0 4rem 0;
    padding: 1rem;
  }

  // gere la place des div pour la personalisation
  .bluepointPersonaRight {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  //class generique pour tout les titres d'articles
  .bluepointTitreArticle {
    display: flex;
    width: 80vw;
    font-size: 2rem;
  }

  //le contener du titre et de l'img
  .bluepointSatisfactionLeft {
    width: 40rem;
    margin: 0 auto;
  }

  //Contient le texte des article (sous-titre, texte)
  .bluepointContenertext {
    font-size: 1.4rem;
    width: 90vw;
    text-align: center;
  }
}

@media screen and (max-width: 700px) {
  .bluepointSatisfactionLeft {
    width: 80vw;
    
  }
  .bluepointTitleMain{
    font-size: 1rem;
  }

  .bluepointTitreArticle{
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  // le contener qui englobe les cartouches
  .bluepointContenerResume {
    width: 90vw;
    margin: 2rem auto 5rem auto;
  }

  .bluepointTitreEngagements{
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 400px) {
  .bluepointArticleImg {
    width: 15rem;
  }
}
