$Color0: 020887;
$Color1: 3C91E6; // bleu claire
$color2: 9FD356; // jaune vert
$Color3: FAFFFD; // blanc
$color4: FA824C; // corail

@import '../main/variables';
@import '../main/reset';


// la div qui entoure tout le footer
.footerContenerMain{
    display: flex;
    justify-content: space-around;
    padding: 1rem 0 1rem 0 ;
    flex-direction: row;
    background-color: rgb(65, 64, 64);
    color: white;
    bottom: 0px;
    width: 100vw;
    margin: 6rem 0 0rem 0;
    height: 3rem;
}

// La class qui gere tout les link
.footerLink{
    color: white;
}

@media screen and (max-width: 900px) {
    .footerContenerMain{
        display: none;
    }
}