@import '../../components/main/variables';
@import '../../components/main/reset';

.ContenerBessanCarousellePhotoMairie{
    width: 10rem;
    height: auto;
    background-color: red;
}

.ContnerBessanTitre{
    font-size: 1.5rem;
    color: $color0;
    width: 80vw;
    text-align: center;
    margin: 0 auto;
}