
@import '../main/variables';
@import '../main/reset';



.ContnerBessanTitre{
    font-size: 1.5rem;
    color: $color0;
    width: 80vw;
    text-align: center;
    margin: 0 auto;
}

.ContenerBessanCarouselle{
    //margin-left: 5rem;
    background-color: white;
}