@import '../components/main/variables';
@import '../components/main/reset';

// La div qui englobe tout la page
.contactContenerMain {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10rem auto 10rem auto;
    font-family: 'Anonymous Pro', monospace;
}

// Le contener de tous les form 
.contactContenerForm {
    display: flex;
    flex-direction: column;
    width: 100rem;
    padding: 1rem;
    justify-content: center;
}

// Le gros titre de la page
.contacttitleMain {
    color: $color0;
    text-align: center;
    //text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    margin: 0 0 1rem 0;
}

// Div qui sert a faire un background
.contactContenerBackground {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 50rem;
    margin: 1rem auto 0 auto;
    flex-wrap: wrap;
    border: solid $color0 0px;
    border-radius: 0.3rem;
    background-color: rgb(247, 241, 241);
}

// la div qui entoure les deux form nom et prenom
.contactContenerName {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 0 2rem 0;
}

// Le titre des label du form
.formTitle {
    display: flex;
    flex-direction: column;
    font-size: 0.7rem;
    width: 15rem;
}

// le span des titres
.contactTitleLabel {
    margin: 0 0 0.5rem 0;
    color: $color0;
    font-size: 1rem;
}

//le champs des input
.contactInputField {
    padding: 0.2rem 0 0.2rem 0.4rem;
    border-radius: 0.2rem;
    border: 0px solid gray;
    background-color: rgb(212, 208, 208);
    color: black;
}

// la div dans laquelle sont present l'entreprise et l'adresse mail
.contactContenerCorporate {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 0 2rem 0;
}

// la div qui gere le menu deroulant 
.ContactFormProject {
    margin: 0 0 2rem 5rem;
    width: 22rem;
}

//Gere les options du menu deroulant
.contactOptionMenu {
    font-family: 'Anonymous Pro', monospace;
    background-color:rgb(212, 208, 208) ;
    border: 0px solid black;
    border-radius: 0.2rem;
    height: 1.5rem;
    padding: 0 0 0 0.2rem;
}

//La div specifique au label Message
.contactLabelMessage {
    width: 30rem;
    margin: 0 0 0.5rem 4rem;
}

//Le contener de l'input du message
.contactContenerMessage {
    display: flex;
    width: 48rem;
}

// La class du input area la ou l'on tape le texte
.contactMessageInput {
    margin: 0 auto 0 auto;
    height: 10rem;
    width: 40rem;
    padding: 1rem;
    background-color: rgb(212, 208, 208) ;
    border: 0px solid black;
    border-radius: 0.5rem;
}

// le contener qui sert a flex le button
.contactContenerButton {
    display: flex;
    justify-content: flex-end;
}

//Le button qui sert a envoyer les messages
.contactButtonsend {
    display: flex;
    margin: 2rem 1rem 1rem 0;
    width: 6rem;
    justify-content: center;
    align-items: center;
    height: 2rem;
    font-family: 'Anonymous Pro', monospace;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 0.2rem;
    border: 1px solid gray;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    background-color: $color0;
    color: white;
}

.contactButtonsend:hover {
    position: relative;
    bottom: 2px;
    right: 2px;
}

@media screen and (max-width: 1000px) {

    .contacttitleMain {
        margin: 0 auto;
        width: 70vw;
    }

    .contactContenerBackground {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem 3rem;
    }

    // la div qui entoure les deux form nom et prenom
    .contactContenerName {
        flex-direction: column;
        width: 30vw;
        height: 10rem;
    }

    // la div dans laquelle sont present l'entreprise et l'adresse mail
    .contactContenerCorporate {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0 0 2rem 0;
        width: 30vw;
    }

    // la div qui gere le menu deroulant 
    .ContactFormProject {
        margin: 0 0 2rem 0;
        width: 20rem;
    }

    //Le contener de l'input du message
    .contactContenerMessage {
        display: flex;
        width: 40rem;
        margin: 0;
    }

    //La div specifique au label Message
    .contactLabelMessage {
        width: 30rem;
        margin: 0 0 0.5rem 0;
    }

}

@media screen and (max-width: 900px) {

    .contactContenerBackground {
        width: 60vw;
        justify-content: center;
    }

    // la div qui entoure les deux form nom et prenom
    .contactContenerName {
        flex-direction: column;
        width: 15rem;
        height: 10rem;
    }

    // la div dans laquelle sont present l'entreprise et l'adresse mail
    .contactContenerCorporate {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0 0 2rem 0;
        width: 15rem;
        height: 10rem;
    }

    .contactLabelMessage{
        width: 10rem;
    }
    //Le contener de l'input du message
    .contactContenerMessage {
        display: flex;
        width: 25rem;
        margin: 0;
    }

    // La class du input area la ou l'on tape le texte
    .contactMessageInput {
        margin: 0 auto 0 auto;
        height: 10rem;
        width: 25rem;
        padding: 1rem;
    }
}

@media screen and (max-width: 700px) {

//Le contener de l'input du message
.contactContenerMessage {
    width: 20rem;
}

// La class du input area la ou l'on tape le texte
.contactMessageInput {
    height: 10rem;
    width: 20rem;
}
}

@media screen and (max-width: 550px) { 

// Div qui sert a faire un background
.contactContenerBackground {
    width: 90vw;
    margin: 1rem auto 0 auto;
    flex-wrap: wrap;
    border: solid $color0 1px;
    border-radius: 0.7rem;
}

//Le contener de l'input du message
.contactContenerMessage {
    width: 25rem;
}

// La class du input area la ou l'on tape le texte
.contactMessageInput {
    margin: 0 auto 0 auto;
    height: 10rem;
    width: 25rem;
    padding: 1rem;
}
}

@media screen and (max-width: 460px) { 
    
    //Le contener de l'input du message
    .contactContenerMessage {
        width: 20rem;
    }
    
    // La class du input area la ou l'on tape le texte
    .contactMessageInput {
        margin: 0 auto 0 auto;
        height: 10rem;
        width: 20rem;
        padding: 1rem;
    }
    }

    @media screen and (max-width: 370px) { 

            // la div qui gere le menu deroulant 
    .ContactFormProject {
        margin: 0 0 2rem 0;
        width: 15rem;
    }
    
        //Le contener de l'input du message
        .contactContenerMessage {
            width: 15rem;
        }
        
        // La class du input area la ou l'on tape le texte
        .contactMessageInput {
            margin: 0 auto 0 auto;
            height: 10rem;
            width: 15rem;
            padding: 1rem;
        }
        }