
@import '../../../components/main/variables';
@import '../../../components/main/reset';



//Le contener du carousel
/*.ContenerAccueilMain {
    //display: flex;
    //margin: 5rem auto;
  }*/
  
  //Le contener de chaque img
  /*.carouselAccueilWrapper {
    display: flex;
    justify-content: center;
    background-color: yellow;
  }*/


