@import "./components/main/variables";
@import "./components/main/reset";

//La div qui contient toute la page
.accueilContenerMain {
  display: flex;
  width: 100vw;
  margin-top: 5.9rem;
  flex-direction: column;
  font-family: "Anonymous Pro", monospace;
}

//La div en couleur juste sous le header
.accueilContenerColor {
.accueilContenerColor {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: auto;
  width: 100vw;
  height: auto;
}

//La div qui encadre le titre
.accueiltitreContener {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto 0 auto;
}

//La div qui encadre le titre
.accueiltitreContener {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto 0 auto;
}

// la phrase d'accueil
.accueiPhrasePersona {
// la phrase d'accueil
.accueiPhrasePersona {
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
  margin: 8rem auto 6rem auto;
  text-align: center;
  font-size: 3rem;
  color: $color0;
  font-weight: 700;
  white-space: nowrap;
}

//Les mots en couleur dans le titre
.accueiPhrasePersonaColor {
  display: flex;
  color: $color4;
  margin: 0 0 0 1rem;
  width: auto;
  flex-wrap:wrap;
  margin: 8rem auto 6rem auto;
  text-align: center;
  font-size: 3rem;
  color: $color0;
  font-weight: 700;
  white-space: nowrap;
}

//Les mots en couleur dans le titre
.accueiPhrasePersonaColor {
  display: flex;
  color: $color4;
  margin: 0 0 0 1rem;
  width: auto;
}

// le contener des exemples de sites
.accueilContenerImgSite {
.accueilContenerImgSite {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 180vw;
  animation: scroll 30s linear infinite;
}

// l'animation qui scroll les img de site
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
  100% {
    transform: translateX(-50%);
  }
}

// la classe commune aux img de site exemple
.accueilImgCarouselle {
.accueilImgCarouselle {
  height: 28rem;
  width: auto;
  border-radius: 0.5rem;
  box-shadow: 10px 12px 20px gray;
  box-shadow: 10px 12px 20px gray;
}

//Le titre principal de la page
.acceuilTitreMain {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 50rem;
  top: 21rem;
  left: 7rem;
  font-size: 3rem;
  z-index: -1;
  font-family: "Anonymous Pro", monospace;
  color: $color3;
  background-color: rgba(0, 0, 0, 0.2);
  /* Couleur noire semi-transparente */
  padding: 0.5rem;
  border-radius: 0.7rem;
  //text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  //text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
  /*text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);*/
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

//Les deux mots qui sont en gras
.accueilTitleStrong {
  display: flex;
  color: $color4;
  //change just for commit
  //change just for commit
}

//La div qui englobe l'img Bezier
.acceuilContenerBezier {
  display: flex;
  //background-image: url('./components/main/Bezier.jpg');
  width: 100%;
  //height: 60rem;
  height: 100vh;
  overflow: hidden;
  z-index: -2;
  background-repeat: no-repeat;
  background-size: cover;
}

// Le contener qui gere le fond de la div dans laquel on place la fleche
.acceuilContenerArrow {
  display: flex;
  background-color: $color4;
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 87vh;
  left: 50%;
  right: 50%;
  border-radius: 3rem;
  z-index: 4;
  cursor: pointer;
}

.acceuilContenerArrow:hover {
  position: absolute;
  top: 86vh;
}

//La div qui encadre l'icone fleche
.acceuilPngArrow {
  display: flex;
  align-self: center;
  margin: 0 auto;
  background-image: url("./components/main/arrow");
  width: 3.2rem;
  height: 3.5rem;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

/////////////////////////////////////
///////////////////// Responsive///////////////////////////
////////////////////////////////

@media screen and (max-width: 1870px) {
  .acceuilContenerBezier {
    width: 100vw;
    height: auto;
  }

  .acceuilContenerArrow {
    position: relative;
    top: -6rem;
    left: 50%;
    right: 50%;
  }

  .acceuilContenerArrow:hover {
    position: relative;
    top: -7rem;
  }
}

@media screen and (max-width: 1550px) {
  //La div qui contient toute la page
  .accueilContenerMain {
    margin-top: 4rem;
  }
}

@media screen and (max-width: 950px) {

  // Le contener qui gere le fond de la div dans laquel on place la fleche
  .acceuilContenerArrow {
    display: flex;
    width: 3rem;
    height: 3rem;
  }

  .acceuilPngArrow {
    width: 2rem;
    height: 2rem;
  }
}

@media screen and (max-width: 630px) {
  //La div qui contient toute la page
  .accueilContenerMain {
    margin-top: 0;
  }

  .acceuilContenerArrow {
    top: -4rem;
  }

  .headerMain {
  .headerMain {
    position: fixed;
    top: 90vh;
    height: 3rem;
  }
}


@media screen and (max-width: 450px) {

  // Le contener qui gere le fond de la div dans laquel on place la fleche
  .acceuilContenerArrow {
    display: flex;
    width: 2rem;
    height: 2rem;
  }

  .acceuilPngArrow {
    width: 1rem;
    height: 1rem;
  }
}

@media screen and (max-width: 290px) {

  // Le contener qui gere le fond de la div dans laquel on place la fleche
  .acceuilContenerArrow {
  // Le contener qui gere le fond de la div dans laquel on place la fleche
  .acceuilContenerArrow {
    display: flex;
    width: 1.5rem;
    height: 1.5rem;
    top: -2rem;
  }

  .acceuilPngArrow {
    width: 1rem;
    height: 1rem;
  }
}