@import "./components/main/variables";
@import "./components/main/reset";

//La div qui contient toute la page
.accueilContenerMain {
  display: flex;
  width: 100vw;
  margin-top: 5.9rem;
  flex-direction: column;
  font-family: "Anonymous Pro", monospace;
}

//La div en couleur juste sous le header
.accueilContenerColor {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: auto;
  width: 100vw;
  height: auto;
}

//La div qui encadre le titre
.accueiltitreContener {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto 0 auto;
}

// la phrase d'accueil
.accueiPhrasePersona {
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
  margin: 8rem auto 6rem auto;
  text-align: center;
  font-size: 3rem;
  color: $color0;
  font-weight: 700;
  white-space: nowrap;
}

//Les mots en couleur dans le titre
.accueiPhrasePersonaColor {
  display: flex;
  color: $color4;
  margin: 0 0 0 1rem;
  width: auto;
  flex-wrap:wrap;
  margin: 8rem auto 6rem auto;
  text-align: center;
  font-size: 3rem;
  color: $color0;
  font-weight: 700;
  white-space: nowrap;
}

//Les mots en couleur dans le titre
.accueiPhrasePersonaColor {
  display: flex;
  color: $color4;
  margin: 0 0 0 1rem;
  width: auto;
}

/*// l'animation qui scroll les img de site
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}*/

// la classe commune aux img de site exemple
.accueilImgCarouselle {
  height: 28rem;
  width: auto;
  border-radius: 0.5rem;
  box-shadow: 10px 12px 20px gray;
  box-shadow: 10px 12px 20px gray;
}

//Le titre principal de la page
.acceuilTitreMain {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 50rem;
  top: 21rem;
  left: 7rem;
  font-size: 3rem;
  z-index: -1;
  font-family: "Anonymous Pro", monospace;
  color: $color3;
  background-color: rgba(0, 0, 0, 0.2);
  /* Couleur noire semi-transparente */
  padding: 0.5rem;
  border-radius: 0.7rem;
  //text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  //text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
  /*text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);*/
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

//Les deux mots qui sont en gras
.accueilTitleStrong {
  display: flex;
  color: $color4;
  //change just for commit
  //change just for commit
}


/////////////////////////////////////
///////////////////// Responsive///////////////////////////
////////////////////////////////

@media screen and (max-width: 1870px) {
  .acceuilContenerBezier {
    width: 100vw;
    height: auto;
  }

  .acceuilContenerArrow {
    position: relative;
    top: -6rem;
    left: 50%;
    right: 50%;
  }

  .acceuilContenerArrow:hover {
    position: relative;
    top: -7rem;
  }
}

@media screen and (max-width: 1730px) {
  .accueilImgCarouselle{
    height: 20rem;
  }
}

@media screen and (max-width: 1550px) {
  //La div qui contient toute la page
  .accueilContenerMain {
    margin-top: 4rem;
  }
}

@media screen and (max-width: 1220px) {
.accueilImgCarouselle{
  height: 18rem;
}
}

@media screen and (max-width: 1100px) {
  .accueilImgCarouselle{
    height: 15rem;
  }
  }

@media screen and (max-width: 950px) {

  .accueilImgCarouselle{
    height: 12rem;
  }
  .accueiPhrasePersona{
    font-size: 2rem;
  }
  .accueiPhrasePersonaColor{
    font-size: 2rem;
  }

}

@media screen and (max-width: 740px) {
  .accueilImgCarouselle{
    height: 10rem;
  }
}
.accueiPhrasePersona{
  margin-bottom: 3rem;
  margin-top: 6rem;
}


@media screen and (max-width: 630px) {
  //La div qui contient toute la page
  .accueilContenerMain {
    margin-top: 0;
  }

  .accueilImgCarouselle{
    height: 8rem;
  }
  .accueiPhrasePersona{
    font-size: 1.7rem;
  }
  .accueiPhrasePersonaColor{
    font-size: 1.7rem;
  }


}

@media screen and (max-width: 530px) {
.accueilImgCarouselle{
  height: 6rem;
}
.accueiPhrasePersona{
  font-size: 1.4rem;
}
.accueiPhrasePersonaColor{
  font-size: 1.4rem;
}
}

@media screen and (max-width: 450px) {

  .accueiPhrasePersona{
    font-size: 1.2rem;
  }
  .accueiPhrasePersonaColor{
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 450px) {
  .accueiPhrasePersona{
    font-size: 1rem;
  }
  .accueiPhrasePersonaColor{
    font-size: 1rem;
  }
}

@media screen and (max-width: 290px) {

  // Le contener qui gere le fond de la div dans laquel on place la fleche
  .acceuilContenerArrow {
    display: flex;
    width: 1.5rem;
    height: 1.5rem;
    top: -2rem;
  }

  .acceuilPngArrow {
    width: 1rem;
    height: 1rem;
  }
}