@import '../components/main/variables';

// le contener principale
.serviceContenerMain {
    display: flex;
    width: 99.2vw;
    margin: 10rem 0 0 -0.5rem;
    flex-direction: column;
    justify-items: center;
    font-family: 'Anonymous Pro', monospace;
}

// Le titre principal
.serviceTitleMain {
    text-align: center;
    color: $color0;
    font-size: 1.3rem;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

// La div qui englobe les trois cartouches
.serviceContenerResume {
    display: flex;
    height: 24rem;
    width: 90vw;
    flex-direction: row;
    background-color: $color1T;
    justify-content: space-around;
    margin: 2rem 5rem 10rem 5rem;
    padding: 2rem 0;
    border-radius: 0.7rem;
}

// Un cartouche sur les trois points
.serviceCartoucheResume {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: white;
    width: 25rem;
    height: auto;
    text-align: center;
    background-color: white;
    border-radius: 0.7rem;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

// les trois cartouche generique 
.serviceCartoucheResume:hover {
    position: relative;
    bottom: 4px;
    right: 2px;
}

// L'img du cartouche
.serviceImgGenerique{
    width: 100%;
    height: 87%;
    border-radius: 0.5rem 0.5rem 0 0;
}


//Le titre d'un cartouche
.serviceCartoucheTitle {
    width: 100%;
    height: 2.2rem;
    font-size: 1.3rem;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    color: white;
    //color: black;
    background-color: $color1T;
    padding-top: 0.2rem;
}

// descriptif du cartouche
.serviceCartouchedescript {
    color: darkslategray;
    font-size: 1.2rem;
    display: none;
   
}

// la div relative aux formations
.serviceFormMain {
    margin: 0 0 6rem 0;
}

.serviceContenerScroll{
display: flex;
justify-content: center;
width: 100vw;
}

// L'animation de l'icone
@keyframes animationIconeScroll{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-1rem);
    }
    100%{
        transform: translateY(0);
    }
}

// l'icone qui indique aux utilisateurs de scroll
.serviceIconeScroll{
    display: flex;
    animation: animationIconeScroll 1.2s infinite;
}


// *************************** Les trois articles

//la div relative a tout les articles
.serviceContenerArticles {
    //width: 100vw;
    width: 100%;
}

// la class generique pour tous les articles
.serviceArticleMain {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    height: 28rem;
    background-color: white;
}

// La div qui englobe le premier article
.serviceSiteMain {
    background: linear-gradient(to bottom, $color4, $color45);
    color: white;
}

// La div qui gere le flex du titre et de l'img
.serviceTitleImg {
    width: 70rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

//class generique pour tout les titres d'articles
.serviceTitreArticle {
    text-align: center;
    padding: 0 1.3rem;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    font-size: 2rem;
}

// Le contener de l'img site
.serviceImgSite {
    display: flex;
    width: 22rem;
    height: 15rem;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.7rem;
}

// L'img creation de site
.serviceImgCreationArticle{
    width: 100%;
    height: auto;
}

// Le contener de l'img Automatisation
.serviceImgAuto {
    background-image: url('./automatisation1.jpeg');
    width: 25rem;
    height: 15rem;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.7rem;
}

// Le contener de l'img Formation
.serviceImgForm {
    background-image: url('./formation.jpeg');
    width: 25rem;
    height: 15rem;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.7rem;
}

//Contient le texte des articles (sous-titre, texte)
.serviceContenertext {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-self: center;
    justify-content: space-between;
}

//Class general pour tout le texte dans les articles
.serviceArticleText {
    font-size: 1.2rem;
    margin: 1rem 0 0 0;
}

//Le contener sur l'automatisation
.serviceAutoMain {
    display: flex;
    flex-direction: row-reverse;
    color: $color0;
}

//contener sur la formation 
.serviceFormMain {
    background: linear-gradient(to bottom, $color4, $color45);
    color: white;
}

.animatedD {
    opacity: 0;
    transform: translateX(100rem);
    /* Animation de translation vers le haut */
    transition: opacity 0.5s ease, transform 2s ease;
    /* Animation de transition pour l'opacité et la transformation */
}

.animatedG {
    opacity: 0;
    transform: translateX(-100rem);
    /* Animation de translation vers le haut */
    transition: opacity 0.5s ease, transform 2s ease;
    /* Animation de transition pour l'opacité et la transformation */
}

.show {
    opacity: 1;
    transform: translateY(0);
    /* Réinitialisation de la translation pour afficher le contenu à sa position normale */
}

/////////////////////////////////////////////////////////////
/// Le responsive
/// //////////////////////////////////////////////////////////////

@media screen and (max-width: 1450px) {

    // Un cartouche sur les trois points
    .serviceCartoucheResume {
        width: 20rem;
        padding: 1rem;
    }


    //gere le style des articles
    .serviceArticleMain {
        display: flex;
        width: 100vw;
        height: 30rem;
        margin: 0 0 4rem 0;
        padding: 1rem;
    }

    //Contient le texte des article (sous-titre, texte)
    .serviceContenertext {
        font-size: 1.2rem;
    }

}

@media screen and (max-width: 1150px) {

    // le contener qui englobe les cartouches
    .serviceContenerResume {
        margin: 2rem auto 7rem auto;
        padding: 2rem 0;
        border-radius: 0.7rem;
        width: 90vw;
    }

    // Un cartouche sur les trois points
    .serviceCartoucheResume {
        display: flex;
        flex-direction: column;
        width: 15rem;
        height: 17rem;
        padding: 1rem;
        justify-content: space-around;
        align-items: center;
    }

    // la class generique pour tous les articles
    .serviceArticleMain {
        display: flex;
        flex-direction: row;
        padding: 1rem;
        height: auto;
        background-color: white;
    }

    .animatedG {
        display: flex;
        flex-direction: row-reverse;
    }

    //Contient le texte des articles (sous-titre, texte)
    .serviceContenertext {
        font-size: 1.4rem;
        margin: 1rem;
    }

    //Class general pour tout le texte dans les articles
    .bluepointArticleText {
        font-size: 1.2rem;
        margin: 2rem 0 0 0;
    }

    // gere le titre de l'article automatisation
    .serviceAutoTitle{
margin: 0 0 2rem 0;
    }
}

@media screen and (max-width: 900px) {

    // le contener qui englobe les cartouches
    .serviceContenerResume {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 2rem auto 7rem auto;
        padding: 2rem 0;
        border-radius: 0.7rem;
        width: 60vw;
        height: 70rem;
    }

    // Un cartouche sur les trois points
    .serviceCartoucheResume {
        display: flex;
        flex-direction: column;
        width: 15rem;
        //height: 17rem;
        padding: 1rem;
        justify-content: space-around;
        align-items: center;
    }

    // la class generique pour tous les articles
    .serviceArticleMain {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: auto;
        margin: 0 0 4rem 0;
        padding: 1rem;
    }

    // La div qui gere le flex du titre et de l'img
    .serviceTitleImg {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    // gere le titre de l'automatisation
    .serviceAutoTitle{
        margin: 0;
            }

    //class generique pour tout les titres d'articles
    .serviceTitreArticle {
        display: flex;
        width: 80vw;
        font-size: 2rem;
        justify-content: center;
        margin: 0 0 2rem 0;
    }

    //Contient le texte des article (sous-titre, texte)
    .serviceContenertext {
        font-size: 1.4rem;
        width: 90vw;
        text-align: center;
    }

}

@media screen and (max-width: 700px) {
    .serviceTitleImg {
        width: 80vw;
        margin: 0 auto;
    }
}

@media screen and (max-width: 480px) {

    // le contener qui englobe les cartouches
    .serviceContenerResume {
        width: 90vw;
        margin: 2rem auto 5rem auto;
    }

}

@media screen and (max-width: 400px) {
    // l'img du site
    .serviceImgSite {
        width: 15rem;
        height: 10rem;
    }

    // l'img d'automatisation
    .serviceImgAuto{
        width: 15rem;
        height: 7rem;
    }

    // l'img de formation
    .serviceImgForm {
        width: 15rem;
        height: 7rem;
    }
}