@import "_variables";
@import "_reset.scss";

//************************************** Partie transformation

// La div qui entoure les div d'info
.AccueilContenerInfo {
  display: flex;
  //background-color: red;
  align-self: center;
  flex-direction: column;
  //width: 100% ;
  margin: 2rem 0 0 0;
}

//La div qui encadre le titre et les span sur la droite
.accueilContenerTransformation {
  display: flex;
  flex-direction: column;
  background: linear-gradient(135deg, rgb(90, 95, 153) , rgb(51, 55, 100) , rgba(22, 24, 46), rgb(16, 18, 34)); 
  margin: 4rem 0 0 0;
  padding: 3rem 0 3rem 0;
  justify-content: center;
  //width: 110rem;
}

//Le contener qui gere le titre et le descriptif de l'activité
.accueilActivitéContner {
  display: flex;
  flex-direction: column;
  //align-items:center;
  margin: 1rem;
  width: 21rem;
  border-radius: 0.7rem;
  text-align: center;
  flex-wrap: wrap;
  margin: 2rem 3rem;
  border: 1px solid $color0;
}

//Lorsqu on hover une div on lui applique une box shadow
.accueilActivitéContnerFocus {
  box-shadow: 2px 2px 20px $color1;
  border: 1px solid $color1;
}

// gestion du hover pour les activité
.accueilActivitéContner:hover {
  position: relative;
  bottom: 2px;
  right: 2px;
}

//Le titre transformation numérique
.accueilTitleTransformation {
  display: flex;
  text-align: center;
  justify-content: center;
  align-self: center;
  width: 40rem;
  color: white;
  font-size: 2.2rem;
  //text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  margin: 0 0 1rem 0;
  font-weight: 520;
}

//Le userefqui entoure la div sur les services
.accueilUseRefStandard{
  display: none;
  justify-content: center;
}

// -----------------------La stack technique

// La div qui encadre la stack technique
.accueilContenersStackTeck{
  display: flex;
  flex-direction: column;
  //background: linear-gradient(135deg, rgb(90, 95, 153) , rgb(51, 55, 100) , rgba(22, 24, 46), rgb(16, 18, 34)); 
  margin: 4rem 0 0 0;
  padding: 1rem 0 1rem 0;
  justify-content: center;
  //width: 110rem;
}

//Le titre Stack Technique
.accueilTitleStackTeck {
  display: flex;
  text-align: center;
  justify-content: center;
  align-self: center;
  width: 40rem;
  font-size: 2.2rem;
  color: $color0;
  //text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  margin: 0 0 1rem 0;
  font-weight: 600;
}

// Le conteneur qui englobe toute les tech
.accueilContenerStack{
  display: flex;
  flex-direction: column;
}

// le contenaire de 12 premieres tech
.accueilContenairewrapperTech{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow-x: auto;
  width: 160%;
  margin: 1.8rem 0 0 0;
}

//La div qui defile vers la droite
.accueilContenairewrapperTechToLeft{
  animation: scroll 30S linear infinite;
}

// Le hover qui stop l'anime vers la droite ou la gauche
.accueilContenairewrapperTechToLeft:hover, .accueilContenairewrapperTechToRight:hover{
  animation-play-state: paused;
}

//L'animation vers la droite
@keyframes scroll {
  0% {
    transform: translatex(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

//La div qui par vers la gauche
.accueilContenairewrapperTechToRight{
  animation: scrollInvers 30S linear infinite;
}

//L'animation vers la gauche
@keyframes scrollInvers {
  0% {
    transform: translatex(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

// la div qui englobe chaque technos
.accueilActivitéTech{
  position: relative;
  display: flex;
  flex-direction: column;
 height: 5rem;
 width: 20rem;
 border: solid 1px black;
 border-radius: 2rem;
 padding: 0.4rem;
 margin: 0 1rem;
}

// img de la techno
.acceuilContenerImgTech{
  display: flex ;
  margin: 0.5rem auto;
height: 2.5rem;
width: auto;
}

// Le texte des techs
.acceuilActivitéDetailTech{
  position: absolute;
  background-color: grey;
  color: white;
  border-radius: 0.5rem;
  padding: 0.6rem;
  top: 0.5rem;
  left: 0.5rem;
  opacity: 0;
  font-size: 0.8rem;
  transition: opacity 0.3s ease-in-out;

}

.accueilActivitéTech:hover .acceuilActivitéDetailTech{
  opacity: 1;
}

//Le contener des activité
.accueilContenerActivité {
  display: flex;
  flex-wrap: wrap;
  color: $color3;
  justify-content: space-around;
  align-items: center;
}

//Contener generique des img
.acceuilContenerImg {
  display: flex;
  width: 19rem;
  height: auto;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 0.7rem;
  margin: 1rem;
}

.acceuilTitreDescription {
    display: flex;
  border-radius: 0 0 0.7rem 0.7rem;
  padding: 0 0 1rem 0;
 flex-direction: column;
}

//le titre des activités class commune
.acceuilActivitéDetail {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 1.3rem;
  color: white;
  margin: 1rem 0 1rem 0;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

// texte descriptif de l'activité
.acceuilActivitéDescription {
    display: flex;
  text-align: center;
  margin: 0 1rem 0 1rem;
  color: rgb(223, 223, 223);
}

//une div qui sert a separer le footer du reste de la page
.acceuilmargingfooter {
  margin: 4rem;
}

/////////////////////////////////// Le responsive

@media screen and (max-width: 700px) {
  .accueilTitleTransformation {
    width: 30rem;
  }
}

@media screen and (max-width: 520px) {
  .accueilTitleTransformation {
    width: 20rem;
  }
}

@media screen and (max-width: 520px) {
  .accueilTitleTransformation {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 400px) {

  //Le contener qui gere le titre et le descriptif de l'activité
  .accueilActivitéContner {
    margin: 1rem;
    width: 15rem;
    height: auto;
    border-radius: 0.7rem;
    text-align: center;
    flex-wrap: wrap;
    margin: 2rem 3rem;
    border: 1px solid $color4;
  }

  .acceuilContenerImg {
    width: 10rem;
    height: auto;
  }
}

@media screen and (max-width: 330px) {


  .accueilTitleTransformation {
    width: 10rem;
  }
}
